/.terraform.lock.hcl
/.terraform/
/terraform.tfstate
/terraform-init-hooks.iml
/terraform/.terraform/
/terraform/target/
/terraform/.terraform.lock.hcl
/terraform/terraform.tfstate
/terraform/terraform.tfstate.backup
/.idea/
/target/classes/
/target/generated-sources/
/target/generated-test-sources/
/target/maven-archiver/
/target/maven-status/
/target/surefire-reports/
/target/test-classes/
/target/original-product-lambda.jar
