/.terraform.lock.hcl
/.terraform/
/terraform.tfstate
/terraform-init-hooks.iml
/target/
/terraform/.terraform/
/terraform/target/
/terraform/.terraform.lock.hcl
/terraform/terraform.tfstate
/terraform/terraform.tfstate.backup
/.idea/
